.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .samosa{
  height: 15em;
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

